{% extends "base.html" %}

{% block content %}
	<h1>Search for Cards</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.cardName.label }}<br>
			{{ form.cardName(size=32) }}
			{% for error in form.cardName.errors %}
			<span style="color: red">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.siteName.label }}<br>
			{{ form.siteName(size=32) }}
			{% for error in form.siteName.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}
